body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url('bg1.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center;
    background-attachment: fixed, scroll;
    background-size: auto, cover;

    color: white;
}

header {
    display: flex;
}

h1 {
    font-size: 1em;
    font-weight: 100;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    margin: 0em 0em 1em;
}

.weatherCard {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    backdrop-filter: blur(10px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25em;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.day,
.date,
.temp {
    display: flex;
    margin: 0;
}

.day {
    font-size: 1em;

}

.date {
    font-size: 0.7em;
    font-weight: 100;
}

.temp {
    font-size: 1.3em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seasonDec,
#season {
    margin: 0;
}

#seasonDec {
    font-size: 0.8em;
    font-weight: 100;
}

#icon {
    display: flex;
    height: 3.5em;
    margin: 0.8em 1em 0.5em;
    transform: rotate(90deg)
}

#season {
    display: flex;
}